<% if @current_user.present? %>

   <% @listings.each do |listing| %>

     <div class="card">
       <div class="card-top">
             <%= link_to listing.name, listing_path(listing) %>
       </div>
        <%= link_to (image_tag listing.photo, :class => 'card-img-top'), listing_path(listing) if listing.photo.attached? %>
        <div class="card-body">
          <ul class="listings-list">
            <li>Age: <%= listing.age %></li>
            <li>Gender: <%= listing.gender %></li>
            <li>Breed: <%= listing.breed %></li>
          </ul>
        </div>
     </div>

   <% end %>
<% else %>
  <p>You are not Logged in!</p>
<% end %>
