<% if @current_user.present? %>
  <h2>Welcome to Adopt Me</h2>

   <% @listings.each do |listing| %>
    <ul class="listings-list">
      <li><%= link_to listing.name, listing_path(listing) %></li>
      <li><%= link_to (image_tag listing.photo, :class => 'thumb'), listing_path(listing) if listing.photo.attached? %></li>
      <li>Age: <%= listing.age %></li>
      <li>Gender: <%= listing.gender %></li>
      <li>Breed: <%= listing.breed %></li>
    </ul>
   <% end %>
<% else %>
  <p>You are not Logged in!</p>
<% end %>
