<h2><%= @listing.name %></h2>

<div class="card">

<% if @listing.photo.attached? %>  
  <%= image_tag @listing.photo, :class => 'feature' %>
<% else %>
  <%= image_tag 'avatar_placeholder.png', :class => 'feature' %>
<% end %>

  <div class="card-body">
    <ul class="cat-info-lists">
      <% if @listing.age.present? %>
        <li>Age: <%= @listing.age %> months</li>
      <% end %>
      <% if @listing.gender.present? %>
        <li>Gender: <%= @listing.gender %></li>
      <% end %>
      <% if @listing.breed.present? %>
        <li>Breed: <%= @listing.breed %></li>
      <% end %>
      <% if @listing.color.present? %>
        <li>Color: <%= @listing.color %></li>
      <% end %>
      <% if @listing.microchipped.present? %>
        <li>Microchipped: &#9989; </li>
      <% end %>
      <% if @listing.desexed.present? %>
        <li>Desexed: &#9989; </li>
      <% end %>
      <li>Owner: <%= link_to @listing.user.name, user_path(@listing.user) %></li>
    </ul>
  </div>
</div>

<div class="controls">
  <% if @current_user.id == @listing.user_id %>
    <%= link_to 'Edit cat', edit_listing_path %>
  <% else %>
    <%= link_to 'Contact my owner', conversations_path %>
  <% end %>

  <% if @current_user.id == @listing.user_id %>
    <%= link_to 'Remove cat', @listing, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>
</div>
