<h2><%= @listing.name %></h2>

<div class="card">

  <%= image_tag @listing.photo, :class => 'feature' if @listing.photo.attached?%>

  <div class="card-body">
    <ul class="cat-info-lists">
      <% if @listing.age.present? %>
        <li>Age: <%= @listing.age %> months</li>
      <% end %>
      <li>Gender: <%= @listing.gender %></li>
      <li>Breed: <%= @listing.breed %></li>
      <li>Color: <%= @listing.color %></li>
      <li>Microchipped: <% if @listing.microchipped %>&#9989;<% end %></li>
      <li>Desexed: <% if @listing.desexed %>&#9989;<% end %></li>
      <li>Owner: <%= link_to @listing.user.name, user_path(@listing.user) %></li>
    </ul>
  </div>
</div>

<div class="controls">
  <% if @current_user.id == @listing.user_id %>
    <%= link_to 'Edit cat', edit_listing_path %>
  <% else %>
    <%= link_to 'Contact my owner', conversations_path %>
  <% end %>

  <% if @current_user.id == @listing.user_id %>
    <%= link_to 'Remove cat', @listing, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>
</div>
