<main class="form-signin">

  <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

  <%= form_tag login_path do %>

    <div class="form-floating">
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, :class => 'form-control', :required => true %>
    </div>

    <div class="form-floating">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :class => 'form-control', :required => true %>
    </div>

    <%= submit_tag "Sign in", :class => 'btn btn-primary' %>
  <% end %>

</main>
