<main class="form-signin">

  <h2 class="h3 mb-3 fw-normal">Edit profile</h2>

  <%= form_for @user do |f| %>

      <div class="form-floating">
        <%= f.label "Full name" %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-floating">
          <%= f.label :age %>
          <%= f.number_field :age, :class => 'form-control' %>
      </div>

      <div class="form-floating">
        <%= f.label "Profile photo" %>
        <%= f.file_field :avatar, :class => 'form-control'%>
      </div>

    <%= f.submit "Update profile", :class => 'btn btn-secondary', :id => 'update-btn' %>

    <%= link_to 'Delete profile', @user, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% end %>
