<main class="form-signin">

  <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @user do |f| %>

  <div class="form-floating">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :required => true %>
  </div>

  <div class="form-floating">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control', :required => true %>
  </div>

  <div class="form-floating">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control', :required => true %>
  </div>

  <div class="form-floating">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control', :required => true %>
  </div>

    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  <% end %>

</main>
